# --- NODE ---
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log
pnpm-debug.log
dist/
build/

# --- ENVIRONMENT FILES ---
.env
.env.*

# --- SYSTEM FILES ---
.DS_Store
Thumbs.db

# --- LOGS ---
logs/
*.log
